<!-- <kendo-grid

 [kendoGridBinding]="car"
 [filterable]="true"




 >
 <ng-template kendoGridToolbarTemplate>
  <button kendoGridPDFCommand icon="file-pdf">Export to PDF</button>
</ng-template>

  <kendo-grid-column field="brandName" title="Marka" [sortable]="true"> </kendo-grid-column>
  <kendo-grid-column field="colorName" title="Rengi"> </kendo-grid-column>
  <kendo-grid-column field="modelYear" title="Model Yılı">
  </kendo-grid-column>
  <kendo-grid-column field="dailyPrice" title="Ücreti"> </kendo-grid-column>
  <kendo-grid-column field="description" title="Özellikleri"> </kendo-grid-column>
  </kendo-grid>

  <kendo-dropdownbutton   [data]="c" > Markalar </kendo-dropdownbutton>

  <kendo-grid
  [kendoGridReactiveEditing]="createFormGroup"
  [kendoGridBinding]="car"
  [pageSize]="5"
  [pageable]="true"
  [sortable]="true"
  [navigable]="true"
>
  <ng-template kendoGridToolbarTemplate>
    <button kendoGridAddCommand>Araba Ekle</button>
  </ng-template>
  <kendo-grid-column
    field="ProductName"
    title="Product Name"
  ></kendo-grid-column>
  <kendo-grid-column
    field="UnitPrice"
    editor="numeric"
    title="Price"
  ></kendo-grid-column>
  <kendo-grid-column
    field="Discontinued"
    editor="boolean"
    title="Discontinued"
  ></kendo-grid-column>
  <kendo-grid-column
    field="UnitsInStock"
    editor="numeric"
    title="Units In Stock"
  ></kendo-grid-column>
  <kendo-grid-command-column title="command" [width]="220">
    <ng-template kendoGridCellTemplate let-isNew="isNew">
      <button kendoGridEditCommand [primary]="true">Edit</button>
      <button kendoGridRemoveCommand>Remove</button>
      <button kendoGridSaveCommand [disabled]="formGroup?.invalid">
        {{ isNew ? "Add" : "Update" }}
      </button>
      <button kendoGridCancelCommand>
        {{ isNew ? "Discard changes" : "Cancel" }}
      </button>
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>

<h1>------------------------------------------------------------------</h1>
<h1>burdan sonrasına bak---------------------------------------------</h1> -->




<div class="container">

  <div class="row">

    <div class="col-md-12">

      <router-outlet></router-outlet>
    </div>



  </div>





</div>

<div>

</div>
<div>

</div>



